
/* Selector Universal*/
*{
    
    padding: 0 auto;
    margin: 0 auto;
}

/* Selector de ID */
#contenedor{
    width: 900px;
    height: 1000px;
    background-color: #f1ecea;

}

#encabezado{
    height: 15%;
    background-color: #3a251c;
}

#menu{

    height: 5%;
    background-color: #b46424;
    margin: 1em auto;
    padding-top: 2px;
}

#contenido{
    height: 74%;
    background-color: #362f2f;
    margin: 0.5em;
    float: left;
    width: 61%;
    margin-top: 10px;
}

#fueraSeccion{
    height: 74%;
    width: 35%;
    background-color: #b58c7c;
    margin: 0.5em;
    float: right;
    margin-top: 10px;
}

#pie{
    height: 10%;
    color: white;
    text-align: center;
    width: 100%;
}

.lista{
    display: list-item;
    color: white;
    font-size: 20px;
    padding-top: 1px;
    text-align: justify;
}

.colorpie{
    padding-top: 10px;
    background-color: #3a251c;
    padding: 15px;
    text-align: center;
}

/* Selector de clase */
.Texto{

    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    color: white;
}

.encabezado_articulos{
    text-align: center;
    color: white;
    margin: auto 2em;
    font-family: Arial, Helvetica, sans-serif;

}

.imagenes {
    border: 1px;
    margin-left: 4%;
    border-radius: 4px;
    width: 220px;
    
}

/* selector de etiqueta */

ul{
    
    
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1px solid;
    padding-top: 20px;
}

a{
    color: white;
    padding-top: 5px;
}
.encabezado_texto{
    text-align: center;
    color: white;
}